resources:
- name: 'ml-db-instance'
  type: sqladmin.v1beta4.instance
  properties:
    name: '{{properties["db_instance_name"]}}'
    backendType: 'SECOND_GEN'
    databaseVersion: 'MYSQL_5_7'
    settings:
      tier: 'db-n1-standard-1'
 
    